# Root ignores
/.nuget/
/data/
/nupkg/
/sample/

# Specific
/src/Lefty.Cyan/*.cmd
/src/Lefty.Cyan/*.txt
/src/Lefty.Cyan/*.json
/src/Lefty.Cyan/*.ps1

# Global ignores
bin/
obj/
.vs/
*.csproj.user
*.pubxml.user
*.sqlproj.user

# eof
